USE [master]
GO
/****** Object:  Database [mastrapa]    Script Date: 2/24/2017 1:13:23 AM ******/
CREATE DATABASE [mastrapa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mastrapa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\mastrapa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mastrapa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\mastrapa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mastrapa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mastrapa]
GO
USE [mastrapa]
GO
/****** Object:  Table [dbo].[CustomerRecord]    Script Date: 2/24/2017 1:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerRecord](
	[CustomerCode] [nchar](10) NOT NULL,
	[CustomerName] [varchar](50) NULL,
 CONSTRAINT [PK_CustomerRecord] PRIMARY KEY CLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EPLG]    Script Date: 2/24/2017 1:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EPLG](
	[referenceNumber] [int] NOT NULL,
	[masterReference] [int] NULL,
	[masterHouseInd] [varchar](50) NULL,
 CONSTRAINT [PK_EPLG] PRIMARY KEY CLUSTERED 
(
	[referenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarehouseReceipt]    Script Date: 2/24/2017 1:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseReceipt](
	[Bonded] [bit] NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[DdateIn] [date] NULL,
	[Location] [varchar](50) NULL,
	[PurchargeOrder] [varchar](50) NULL,
	[Destination] [varchar](50) NULL,
	[CustomerCode] [nchar](10) NOT NULL,
	[referenceNumber] [int] NOT NULL,
	[Printed] [bit] NULL,
	[Invoice] [bit] NULL,
	[PackingList] [bit] NULL,
	[Carrier] [varchar](50) NULL,
	[ProfitNumber] [int] NULL,
	[PrepaidCollect] [nchar](1) NULL,
	[InlandFreight] [decimal](5, 2) NULL,
	[LastBillDate] [date] NULL,
	[BilledToDate] [decimal](5, 2) NULL,
	[Remark] [varchar](50) NULL,
	[Marks] [varchar](50) NULL,
 CONSTRAINT [PK_WarehouseReceipt_1] PRIMARY KEY CLUSTERED 
(
	[Bonded] ASC,
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WPDT]    Script Date: 2/24/2017 1:13:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WPDT](
	[Bonded] [bit] NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[Lnumber] [int] NOT NULL,
	[Pieces] [int] NOT NULL,
	[Weight] [int] NULL,
	[Description] [varchar](50) NULL,
	[Vendor] [nchar](10) NULL,
	[ItemCode] [int] NULL,
 CONSTRAINT [PK_WPDT] PRIMARY KEY CLUSTERED 
(
	[Bonded] ASC,
	[ReceiptNumber] ASC,
	[Lnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[WarehouseReceipt]  WITH NOCHECK ADD  CONSTRAINT [FK_WarehouseReceipt_CustomerRecord] FOREIGN KEY([CustomerCode])
REFERENCES [dbo].[CustomerRecord] ([CustomerCode])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WarehouseReceipt_CustomerRecord]
GO
ALTER TABLE [dbo].[WarehouseReceipt]  WITH NOCHECK ADD  CONSTRAINT [FK_WarehouseReceipt_EPLG] FOREIGN KEY([referenceNumber])
REFERENCES [dbo].[EPLG] ([referenceNumber])
GO
ALTER TABLE [dbo].[WarehouseReceipt] CHECK CONSTRAINT [FK_WarehouseReceipt_EPLG]
GO
ALTER TABLE [dbo].[WPDT]  WITH NOCHECK ADD  CONSTRAINT [FK_WPDT_WarehouseReceipt1] FOREIGN KEY([Bonded], [ReceiptNumber])
REFERENCES [dbo].[WarehouseReceipt] ([Bonded], [ReceiptNumber])
GO
ALTER TABLE [dbo].[WPDT] CHECK CONSTRAINT [FK_WPDT_WarehouseReceipt1]
GO
USE [master]
GO
